@import url('./common.css');

#hero {
    height: 100vh;
}

.header {
    justify-content: space-between;
}

.header-logo {
    gap: 8px;
}

.header-logo__image {
    width: 36px;
    height: 36px;
}

.header-logo__name {
    font-size: var(--h3-desk);
    font-weight: var(--bold);
}

.header-action {
    border-radius: 14px;
    border: 1px solid var(--dark);
    padding: 20px 35px;
    transition: all ease .5s;
}

.header-action:hover {
    background-color: var(--dark);
    color: var(--white);
}

.header-navigation__link {
    font-size: var(--h4-desk);
    margin-right: 40px;
    position: relative;
}


.header-navigation__link::after {
    content: '';
    position: absolute;
    left: 0;
    top: 24px;
    height: 2px;
    background-color: var(--dark);
    width: 100%;
    transition: all ease .5s;
    transform: scaleX(0);
    transform-origin: left;
}

.header-navigation__link:hover::after {
    transform: scaleX(1);
}

.intro {
    padding: 64px 0;
    justify-content: space-between;
}

.intro-content {
    max-width: 530px;
}

.intro-content__header {
    font-size: var(--h1-desk);
    line-height: calc(var(--h1-desk) * 1.5);
}

.intro-content__info {
    font-size: var(--h4-desk);
    line-height: calc(var(--h4-desk) * 1.5);
    margin: 24px 0;
    font-weight: var(--thin);
}

.section-header {
    margin-bottom: 40px;
    gap: 24px;
}

.section-header__title {
    background-color: var(--primary);
    border-radius: 7px;
    padding: 7px 10px;
    width: fit-content;
}

.partner-list {
    justify-content: space-between;
}

.section-header__info {
    max-width: 580px;
}

.service-list {
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    gap: 40px;
}

.service-item {
    border: 1px solid var(--dark);
    border-radius: 45px;
    padding: 50px;
    justify-content: space-between;
    width: calc(50% - 20px);
    transition: all ease .5s;
    transform-origin: bottom;
    height: 310px;
}

.service-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 0 var(--dark);
}

.service-item__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.arrow-link {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    justify-content: center;
    transform: rotate(-24deg);
}

.arrow-link__icon {
    width: 20px;
    height: 20px;
}

.arrow-link__text {
    font-size: var(--h4-desk);
    margin-left: 10px;
}

#action {
    border-radius: 45px;
    padding: 60px;
    position: relative;
}

.action-content__title {
    font-size: var(--h3-desk);
}

.action-content__info {
    font-size: var(--p-desk);
    max-width: 500px;
    margin: 24px 0;
}

.action-content__image {
    position: absolute;
    right: 60px;
    top: -30px;
}

.cases-list {
    border-radius: 45px;
    padding: 70px 60px;
    display: flex;
    justify-content: space-between;
}

.cases-item:not(:last-child, :first-child) {
    border-left: 1px solid var(--white);
    border-right: 1px solid var(--white);
    padding: 0 64px;
}

.cases-item:first-child {
    padding-right: 64px;
}

.cases-item:last-child {
    padding-left: 64px;
}

.cases-item__info {
    font-size: var(--p-desk);
    font-weight: var(--thin);
    margin-bottom: 24px;
}

.cases-item__arrow {
    width: 20px;
    height: 20px;
    margin-left: 8px;
    max-width: 286px;
    transform: rotate(335deg);
}

.process-item {
    border-radius: 45px;
    border: 1px solid var(--dark);
    padding: 40px 60px;
    box-shadow: 0 5px 0 var(--dark);
    overflow: hidden;
}

.process-item__toggle {
    width: 58px;
    height: 58px;
    border-radius: 29px;
    justify-content: center;
    cursor: pointer;
    font-size: var(--h2-desk);
    font-weight: var(--bold);
}

.toggle-icon {
    width: 18px;
    height: 18px;
}

.process-item__title {
    font-size: var(--h3-desk);
    font-weight: var(--semibold);
}

.process-item__header {
    justify-content: space-between;
    position: relative;
    z-index: 2;
}

.process-item__number {
    font-size: var(--h1-desk);
    font-weight: var(--semibold);
    margin-right: 18px;
}

.process-item:not(:last-child) {
    margin-bottom: 24px;
}

.process-item__info {
    font-size: var(--p-desk);
    font-weight: var(--thin);
    transition: all ease .5s;
    overflow: hidden;
    font-size: var(--p-desk);
    position: relative;
    z-index: 1;
    height: 0;
}

.process-item__text {
    border-top: 1px solid var(--dark);
    padding-top: 20px;
    margin-top: 20px;
    font-size: var(--p-desk);
}

.team-list {
    flex-wrap: wrap;
    gap: 40px;
    justify-content: space-between;
    align-items: stretch;
}

.team-member {
    border-radius: 45px;
    border: 1px solid var(--dark);
    padding: 40px 35px;
    box-shadow: 0 5px 0 var(--dark);
    flex-basis: calc(33% - 40px);
    font-size: var(--p-desk);
}

.team-member__header {
    display: flex;
    align-items: flex-end;
    gap: 16px;
    position: relative;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--dark);
    margin-bottom: 28px;
}

.team-member__name {
    font-size: var(--h4-desk);
}